.SidebarChat {
  display: flex;
  padding: 20px;
  margin-left: 10px;
  cursor: pointer;
  align-items: center;
}

.SidebarChat:hover {
  background-color: #ebebeb;
  transition: 200ms ease-in;
  transform: scale(1.05);
}
.sidebarChat_info {
  margin-left: 15px;
}

.sidebarChat_info > h3 {
  font-size: 14px;
}
